.back {
  flex: 1;
  background-Color: #ffffff;
  align-Items: center;
  justify-Content: center;
}

.normal {
  color: #6986A8;
}

.ssamydo {
  font-Style: normal;
  font-Size: 50px;
  line-Height: 88px;
  display: flex;
  align-Items: center;
  text-Align: center;
  justify-Content: center;
  color: #6986A8;
}

.border {
  border-Width: 1px;
}

.one {
  border-Width: 1px;
  background-Color: green;
}

.two {
  border-Width: 1px;
  background-Color: yellow;
}

.center {
  flex: 1;
  justify-Content: center;
  align-Items: center;
}

.add {
  flex: 1;
  justify-Content: center;
}

.circle {
  width: 30;
  height: 30;
  border-radius: 15px;
  border-color: blue;
  border-width: 2px;
  margin-left: 20;
  margin-left: 20;
}

.todoitemcontainer {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.todoitembox {
  border-radius: 10px;
  margin-left: 10;
  margin-right: 10;
  background-color: white;
  width: auto;
}

.checkarea {
  flex: 1;
  background-color: crimson;
}

.todoarea {
  flex: 2;
  background-color: sandybrown;
  color: #ffffff;
}

.timelinearea {
  flex: 3;
  background-color: aquamarine;
}

.timelinelistarea {
  flex: 1;
  background-color: fuchsia;
}

.noticeitembox { 
  border-radius: 10px;
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 20;
  background-color: skyblue;
  width: auto;
  align-items: flex-start;
}

.button {
  align-items: center;
  background-color: #A8D1FF;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.noticelist {
  flex: 1;
  flex-direction: row; 
}

.noticebutton {
  align-items: flex-start;
  background-color: aliceblue;
}

.todoCompleted {
  color: gainsboro;
  text-decoration-line: line-through;
  padding: 6px;
}

/* 컴포넌트 전체 CSS */
.todoContainer { 
  border-radius: 10px;
  margin-top: 20;
  margin-bottom: 10;
  margin-left: 10;
  margin-right: 10;
  flex: 1;
  width: auto;
  align-items: center;
}

.timelineContainer {
  flex: 1;
  background-color: #ffffff;
  border-top-left-radius: 30;
  border-top-right-radius: 30;
  padding-top: 15;
}

/* .todayScheduleContainer {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5ba8ff;
  border-top-left-radius: 30;
  border-top-right-radius: 30;
  padding-left: 5%;
  padding-right: 5%;
} */